<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="web.dao.face.AdminDao">

	<select id="selectCntByIdPw" resultType="int"
		parameterType="web.dto.Admin">
		SELECT count(*) FROM admin
		WHERE admin_id= #{adminId} and
		admin_pw=#{adminPw}
	</select>

	<select id="selectCntAll" resultType="int">
		SELECT count(*) FROM free
	</select>

	<select id="selectList" resultType="map"
		parameterType="web.util.Paging">

		SELECT * FROM (
		SELECT rownum rnum, l.* FROM (
		SELECT r.*,
		a.admin_NAME
		FROM (
		SELECT f.*, m.user_id
		FROM free f
		LEFT OUTER JOIN
		member m
		ON f.user_no = m.user_no
		) r
		LEFT OUTER JOIN admin a
		ON
		r.admin_no = a.admin_no
		ORDER BY free_no DESC
		) l
		)
		WHERE rnum BETWEEN
		#{startNo} AND #{endNo}
	</select>

	<update id="updateHit" parameterType="web.dto.Free">
		UPDATE free set
		free_views =
		free_views + 1
		WHERE free_no = #{freeNo}
	</update>

	<select id="selectFreeBoard" parameterType="web.dto.Free"
		resultType="map">
		SELECT * FROM(
		SELECT
		(SELECT m.user_id FROM member m WHERE
		m.user_no = F.user_no) user_id,
		(SELECT m.user_nick FROM member m WHERE
		m.user_no = F.user_no) user_nick, F.*
		FROM (
		SELECT
		*
		FROM free
		) F
		)
		FREEMAIN
		WHERE free_no = #{freeBoard.freeNo}
	</select>

	<select id="selectNickById" parameterType="string"
		resultType="string">
		SELECT user_nick FROM member
		WHERE user_id=#{user_id}
	</select>

	<select id="selectFreeFile" parameterType="web.dto.Free"
		resultType="web.dto.FreeFile">
		SELECT * FROM free_file
		WHERE free_no = #{freeNo}
	</select>


	<select id="selectCntAll2" resultType="int">
		SELECT count(*) FROM
		campaign
	</select>

	<select id="selectById" resultType="web.dto.Admin"
		parameterType="String">
		SELECT * FROM admin
		where admin_id = #{adminId}
	</select>
	

	<!-- 관리자 자유게시판 글쓰기 -->
	<!-- user_no, -->
	<insert id="insertFree" parameterType="web.dto.Admin">
		<selectKey keyProperty="freeNo" order="BEFORE"
			resultType="int">
			select free_no_seq.nextval from dual
		</selectKey>
		INSERT INTO free (free_no, admin_no, free_head, free_title,
		free_content, free_views, pin)
		VALUES ( #{freeNo}, #{adminNo},
		#{freeHead}, #{freeTitle}, #{freeContent},
		#{freeViews}, -1 )
	</insert>


	<insert id="insertFreeFile" parameterType="web.dto.Admin">
		INSERT INTO free_file
		(free_file_no, free_no, free_origin_name,
		free_stored_name)
		VALUES (
		free_file_no_seq.nextval, #{freeNo}, #{freeOriginName},
		#{freeStoredName})
	</insert>


	<delete id="deleteFile" parameterType="web.dto.Free">
		DELETE free_file
		WHERE
		free_no = #{freeNo}
	</delete>

	<delete id="delete" parameterType="web.dto.Free">
		DELETE free
		WHERE free_no =
		#{freeNo}
	</delete>

	<select id="selectCampList" resultType="web.dto.Campaign"
		parameterType="web.util.Paging">
		SELECT * FROM (
		SELECT rownum rnum, C.* FROM (
		SELECT *
		FROM campaign ORDER BY camp_no DESC
		) C
		) CAMP
		WHERE rnum BETWEEN
		#{startNo} AND #{endNo}
	</select>

	<select id="selectCalList" resultType="web.dto.Calendar">
		SELECT * FROM calendar
	</select>


	<select id="selectPartNo" resultType="int">
		SELECT
		certification_seq.nextval FROM dual
	</select>

	<insert id="insertCert" parameterType="web.dto.Certification">
		INSERT INTO certification
		(part_no, user_no, camp_no, part_title,
		part_content)
		VALUES (#{partNo},
		#{userNo}, #{campNo}, #{partTitle}, #{partContent})
	</insert>

	<!-- 관리자 캠페인 게시판 글쓰기 -->
	<!-- user_no, -->
	<insert id="insertCampaign" parameterType="web.dto.Campaign">


		<selectKey keyProperty="campNo" order="BEFORE"
			resultType="int">
			select camp_no_seq.nextval from dual
		</selectKey>


		INSERT INTO campaign (camp_no,admin_no,camp_title,camp_state)
		VALUES (
		#{campNo}, #{adminNo}, #{campTitle}, #{campState} )
	</insert>


	<insert id="insertCampaignFile" parameterType="web.dto.Admin">
		INSERT INTO
		campaign_file (camp_file_no, camp_no, camp_origin_name,
		camp_stored_name)
		VALUES ( campaign_files_no_seq.nextval, #{campNo},
		#{campOriginName},
		#{campStoredName})
	</insert>

	<select id="selectCamList" parameterType="web.util.Paging"
		resultType="java.util.Map">
		SELECT * FROM CAMPAIGN
		ORDER BY ADMIN_NO DESC
	</select>

	<delete id="deleteCam" parameterType="int">
		{CALL
			BEGIN
				DELETE FROM campaign_file
				WHERE camp_no = ${campNo};
				
				DELETE FROM campaign
				WHERE camp_no = ${campNo};
			END
		}
	</delete>


	<select id="selectAdmin" parameterType="string"
		resultType="web.dto.Admin">
		SELECT * FROM admin
		WHERE admin_id = #{adminId}
	</select>
	

	 	<select id="selectProductList" resultType="map" parameterType="web.util.Paging">

		SELECT * FROM (
		    SELECT rownum rnum, A.* FROM (
		        SELECT p.*, f.prod_origin_name, f.prod_stored_name
		        FROM product p LEFT OUTER JOIN  (
		        
		        SELECT *
					FROM prod_file
					WHERE (prod_no, prod_file_no) IN (
					    SELECT prod_no, MIN(prod_file_no)
					    FROM prod_file
					    GROUP BY prod_no
					)
		        
		        
		        ) f
		        ON p.prod_no = f.prod_no
		        ORDER BY p.prod_no DESC
		    ) A
		)
		WHERE rnum BETWEEN #{startNo} AND #{endNo}
	</select>



	<!-- 관리자 굿즈샵 상품 등록 글쓰기  -->
	<insert id="insertProduct" parameterType="web.dto.Product">

	<selectKey keyProperty="prodNo" order="BEFORE" resultType="int">
		select PROD_NO_seq.nextval from dual
	</selectKey>

  		INSERT INTO product (prod_no, admin_no, prod_name, prod_detail, prod_price, prod_amount)
   			VALUES ( #{prodNo}, #{adminNo}, #{prodName}, #{prodDetail}, #{prodPrice}, #{prodAmount} )

   </insert>
   
   
   <insert id="insertProductFile" parameterType="web.dto.ProductFile">
      INSERT INTO prod_file (prod_file_no, prod_no, prod_origin_name, prod_stored_name) 
      	VALUES ( prod_file_no_seq.nextval, #{prodNo}, #{prodOriginName}, #{prodStroedName})
   </insert>

      
   
   <insert id="insertProdoption" parameterType="web.dto.ProdOption">
         INSERT INTO prod_option (prod_opt_no, prod_no, prod_color, prod_size) 
      	VALUES ( prod_opt_no_seq.nextval, #{prodNo}, #{ProdColor}, #{ProdSize})
   </insert>

<!-- 게시글 내용 삽입 -->
 <insert id="insertInfo" parameterType="web.dto.Info">
 	
 	<selectKey keyProperty="infoNo" order="BEFORE" resultType="int">
		select info_no_seq.nextval from dual
	</selectKey>
	
	INSERT INTO info (info_no, admin_no, info_title, info_url, info_state)
	VALUES ( #{infoNo}, #{adminNo}, #{infoTitle}, #{infoUrl}, #{infoState})
 	
</insert>

 <insert id="insertinfoThumb" parameterType="web.dto.InfoThumbnail">
 
 	INSERT INTO info_thumbnail (thumb_no, info_no, thumb_origin_name, thumb_stored_name) 
	VALUES ( thumb_no_seq.nextval, #{infoNo}, #{thumbOriginName}, #{thumbStoredName})
 
 </insert>  

 <!-- 첨부파일 삽입 -->
 <insert id="insertInfoFile" parameterType="web.dto.InfoFile">
 
 	INSERT INTO info_file (info_file_no, info_no, info_origin_name, info_stored_name) 
	VALUES ( info_file_seq.nextval, #{infoNo}, #{infoOriginName}, #{infoStoredName})
 
 </insert>  
 
<!-- 관리자 정보게시판 게시글 삭제 --> 

<!-- 게시글 내용 삭제 -->
<delete id="deleteInfo" parameterType="int">
	DELETE info 
	WHERE info_no = #{infoNo}
</delete>

<!-- 게시글 첨부파일 삭제 -->
<delete id="deleteInfoFile" parameterType="int">
	DELETE info_file 
	WHERE info_no = #{infoNo}
</delete>

<!-- 게시글 썸네일 삭제 -->
<delete id="deleteThumb" parameterType="int">
	DELETE info_thumbnail 
	WHERE info_no = #{infoNo}
</delete>

 <!-- 게시글 상세 조회 -->
 <select id="selectInfoByInfoNo" resultType="map" parameterType="int">
  
  	SELECT * FROM (
	    	SELECT INFO.* FROM (
	        	SELECT I.*, F.info_origin_name, F.info_stored_name, F.info_file_no, T.thumb_no, T.thumb_origin_name, T.thumb_stored_name
                FROM info I LEFT OUTER JOIN info_file F
                ON I.info_no = F.info_no 
                LEFT OUTER JOIN info_thumbnail T
                ON I.info_no = T.info_no
                ORDER BY I.info_no DESC
	    	) INFO
		) 
		WHERE info_no = #{infoNo}

 </select>
   	
<!-- 게시글 전체 조회 -->
<select id="selectInfoList" parameterType="web.util.Paging" resultType="map">
	  	SELECT * FROM (
	    	SELECT rownum rnum, INFO.* FROM (
	        	SELECT I.*, F.info_origin_name, F.info_stored_name, F.info_file_no, T.thumb_no, T.thumb_origin_name, T.thumb_stored_name
                FROM info I LEFT OUTER JOIN info_file F
                ON I.info_no = F.info_no 
                LEFT OUTER JOIN info_thumbnail T
                ON I.info_no = T.info_no
                ORDER BY I.info_no DESC
	    	) INFO
		) 
		WHERE rnum BETWEEN #{startNo} AND #{endNo}
		ORDER BY info_no desc
</select>


   	<delete id="deleteGoods" parameterType="int">
		{CALL
			BEGIN
				DELETE FROM prod_file
				WHERE prod_no = ${prodNo};
				
				DELETE FROM product
				WHERE prod_no = ${prodNo};
			END
		}
	</delete>

<!-- 총 게시글 수 조회 -->
<select id="selectCntInfo" resultType="int">
	SELECT count(*) FROM info
</select>

	
	<update id="updateBoard" parameterType="web.dto.Free">
  	UPDATE free SET
	free_title = #{freeTitle}, free_content = #{freeContent}, free_head = #{freeHead}, free_modify = CURRENT_DATE 
	WHERE free_no = #{freeNo}
	</update>

<!-- 정보게시판 게시글 내용 수정 -->	
<update id="updateInfoBoard" parameterType="web.dto.Info">
  	UPDATE info SET
	info_title = #{infoTitle}, info_url = #{infoUrl}, info_state = #{infoState}, info_upload = CURRENT_DATE 
	WHERE info_no = #{infoNo}
</update>

	
	<!-- 캠페인 게시글 번호를 기준으로 게시글 목록에 뜰 게시글 정보 조회 -->
	<select id="selectCampBoard" parameterType="web.dto.Campaign"
		resultType="map">
		SELECT * FROM(
		SELECT 
		(SELECT m.admin_id FROM admin m WHERE m.admin_no = F.admin_no) admin_id, 
		(SELECT m.admin_name FROM admin m WHERE m.admin_no = F.admin_no) admin_name, F.* FROM (
			SELECT
			*
			FROM campaign
		) F
	) FREEMAIN
	WHERE CAMP_NO = #{campaign.campNo} 
	</select>
		
	<!-- 상세보기에서 파일 정보 조회 -->
	<select id="selectCampFile" parameterType="web.dto.Campaign" resultType="web.dto.CampaignFile">
		SELECT * FROM campaign_file
		WHERE camp_no = #{campNo}
	</select>
	
	<!-- 캠페인 게시글 번호를 기준으로 게시글 내용 수정 -->
	<update id="updateCamp" parameterType="web.dto.Campaign">
		UPDATE campaign SET
		camp_title = #{campTitle}, camp_state = #{campState}
		WHERE camp_no = #{campNo}
	</update>
	
	<!-- 게시글 파일 삭제 -->
	<delete id="deleteCampFile" parameterType="web.dto.Campaign">
		DELETE campaign_file
		WHERE camp_no = #{campNo}
	</delete>
	
	<!-- 게시글 작성 - 파일 첨부 -->
	<insert id="insertCampFile" parameterType="web.dto.Campaign">
		INSERT INTO campaign_file (camp_file_no, camp_no, camp_origin_name, camp_stored_name) 
		VALUES ( camp_file_no_seq.nextval, #{campNo}, #{campOriginName}, #{campStoredName})
	</insert>

	<select id="selectContent" resultType="web.dto.Info" parameterType="int">
		SELECT * FROM info
		WHERE info_no = #{infoNo}
	</select>

	<select id="selectThumb" resultType="web.dto.InfoThumbnail" parameterType="int">
		SELECT * FROM info_thumbnail
		WHERE info_no = #{infoNo}
	</select>

	<select id="selectFile" resultType="web.dto.InfoFile" parameterType="int">
		SELECT * FROM info_file
		WHERE info_no = #{infoNo}
	</select>

	<!-- 댓글 삭제 -->
	<delete id="deleteComment" parameterType="int">
    	delete from freecomment
    	where comm_no = #{commNo}
	</delete>


	<!-- 댓글 조회 - 댓글 등록 후 게시글 상세보기에서 -->
	<select id="selectCommByFreeNo" resultType="map" parameterType="int">
		SELECT c.*, (SELECT m.user_id FROM member m WHERE m.user_no = c.user_no) user_id FROM freecomment c
		WHERE free_no = #{freeNo}
		ORDER BY comm_no desc
	</select>

	<!-- 댓글 조회 -->
	<select id="selectComment" resultType="map" parameterType="web.dto.Free">
		SELECT c.*, (SELECT m.user_id FROM member m WHERE m.user_no = c.user_no) user_id FROM freecomment c
		WHERE free_no = #{freeNo}
		ORDER BY comm_no desc
	</select>

 	<select id="ProdInq" resultType="web.dto.ProdInq">
		select * from prod_inq
		order by inq_no desc
	</select>
	
	<insert id="prodInqAnswer" parameterType="web.dto.ProdInqAnswer">
		INSERT INTO prod_inq_answer (INQ_ANSWER_NO, ADMIN_NO, INQ_NO, INQ_ANSWER_CONTENT) 
		
		VALUES ( PROD_INQ_ANSWER_NO_seq.nextval, #{adminNo}, #{inqNo}, #{inqAnswerContent})
	</insert>
	
	<!-- 캠페인 참여 현황  -->
	<select id="campParticipate" parameterType="int" resultType="int">
   		SELECT COUNT(*) FROM  CERTIFICATION
    	WHERE camp_no = #{campNo}
	</select>
	
	<update id="updateinquire" parameterType="web.dto.ProdInqAnswer">
		    UPDATE prod_inq  SET  inq_proc='답변완료'
            where inq_no=#{inqNo}
	</update>
	
	<select id="getProdNoName" resultType="web.dto.Product">
			SELECT * FROM Product
	
	</select>
	
	<insert id="addopt" parameterType="web.dto.ProdOption">
		INSERT INTO prod_option(prod_opt_no,prod_no,prod_color,prod_size)
		VALUES(PROD_OPT_NO_seq.nextval,#{prodNo},#{prodColor},#{prodSize})
	</insert>
	
	<select id="selectCntAllProduct" resultType="int">
		SELECT count(*) FROM product
	</select>
	
	<select id="selectCampaginCntAll" resultType="int">
		SELECT count(*) FROM campaign
	</select>
	
	
</mapper>