<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="web.dao.face.AdminDao">

 <select id="selectCntByIdPw" resultType="int" parameterType="web.dto.Admin">
      SELECT * FROM admin
      WHERE admin_id= #{adminId} and admin_pw=#{adminPw} 
   </select>
   
   <select id="selectCntAll" resultType="int">
      SELECT count(*) FROM free
   </select>

   <select id="selectList" resultType="map" parameterType="web.util.Paging">
     
SELECT * FROM (
		    SELECT rownum rnum, l.* FROM (
		        SELECT r.*, a.admin_NAME
		        FROM (
		            SELECT f.*, m.user_id 
		            FROM free f
		            LEFT OUTER JOIN member m
		            ON f.user_no = m.user_no
		        ) r
		        LEFT OUTER JOIN admin a
		    ON r.admin_no = a.admin_no
		    ORDER BY free_no DESC
		    ) l
		)
		WHERE rnum BETWEEN #{startNo} AND #{endNo}
   </select>
   
   <update id="updateHit" parameterType="web.dto.Free">
      UPDATE free set
      free_views = free_views + 1
      WHERE free_no = #{freeNo}
   </update>
   
   <select id="selectFreeBoard" parameterType="web.dto.Free" resultType="map">
      SELECT * FROM(
         SELECT 
         (SELECT m.user_id FROM member m WHERE m.user_no = F.user_no) user_id,
         (SELECT m.user_id FROM member m WHERE m.user_no = F.user_no) user_nick, F.* FROM (
            SELECT
            *
            FROM free
         ) F
   ) FREEMAIN
   WHERE free_no = #{freeBoard.freeNo}
</select>
   
   <select id="selectNickById" parameterType="string" resultType="string">
      SELECT user_nick FROM member 
      WHERE user_id=#{user_id}
   </select>

   <select id="selectFreeFile" parameterType="web.dto.Free" resultType="web.dto.FreeFile">
      SELECT * FROM free_file
      WHERE free_no = #{freeNo}
   </select>


   <select id="selectCntAll2" resultType="int">
         SELECT count(*) FROM campaign
   </select>
   
   <select id="selectById" resultType="web.dto.Admin" parameterType="String">
      SELECT * FROM admin
      where admin_id = #{adminId}
   </select>
   
   
   
   
   
   
   <!-- 관리자 자유게시판 글쓰기  -->
<!--    user_no, -->
   <insert id="insertFree" parameterType="web.dto.Admin">
      <selectKey keyProperty="freeNo" order="BEFORE" resultType="int">
         select free_no_seq.nextval from dual
      </selectKey>
      INSERT INTO free (free_no, admin_no, free_head, free_title, free_content, free_views, pin)
      VALUES ( #{freeNo}, #{adminNo}, #{freeHead}, #{freeTitle}, #{freeContent}, #{freeViews}, -1 )
   </insert>
   
   
   <insert id="insertFreeFile" parameterType="web.dto.Admin">
      INSERT INTO free_file (free_file_no, free_no, free_origin_name, free_stored_name) 
      VALUES ( free_file_no_seq.nextval, #{freeNo}, #{freeOriginName}, #{freeStoredName})
   </insert>


   <delete id="deleteFile" parameterType="web.dto.Free">
      DELETE free_file
      WHERE free_no = #{freeNo}
   </delete>
       
   <delete id="delete" parameterType="web.dto.Free">
      DELETE free
      WHERE free_no = #{freeNo}
   </delete>
   
   <select id="selectCampList" resultType="web.dto.Campaign" parameterType="web.util.Paging">
      SELECT * FROM (
          SELECT rownum rnum, C.* FROM (
              SELECT * FROM campaign ORDER BY camp_no DESC
          ) C
      ) CAMP
      WHERE rnum BETWEEN #{startNo} AND #{endNo}
   </select>
   
   <select id="selectCalList" resultType="web.dto.Calendar">
      SELECT * FROM calendar
   </select>
   
   
   <select id="selectPartNo" resultType="int">
      SELECT certification_seq.nextval FROM dual
   </select>
   
   <insert id="insertCert" parameterType="web.dto.Certification">
      INSERT INTO certification (part_no, user_no, camp_no, part_title, part_content)
      VALUES (#{partNo}, #{userNo}, #{campNo}, #{partTitle}, #{partContent})
   </insert>

	<!-- 관리자 캠페인 게시판 글쓰기  -->
<!-- 	user_no, -->
	<insert id="insertCampaign" parameterType="web.dto.Campaign">
	

	<selectKey keyProperty="campNo" order="BEFORE" resultType="int">
		select camp_no_seq.nextval from dual
	</selectKey>


   INSERT INTO campaign (camp_no,admin_no,camp_title,camp_state)
   VALUES ( #{campNo}, #{adminNo}, #{campTitle}, #{campState} )
   </insert>
   
   
   <insert id="insertCampaignFile" parameterType="web.dto.Admin">
      INSERT INTO campaign_file (camp_file_no, camp_no, camp_origin_name, camp_stored_name) 
      VALUES ( campaign_files_no_seq.nextval, #{campNo}, #{campOriginName}, #{campStoredName})
   </insert>

	<select id="selectCamList" parameterType="web.util.Paging" resultType="java.util.Map">
    SELECT * FROM CAMPAIGN
    ORDER BY ADMIN_NO DESC
	</select>
	
	<delete id="deleteCam" parameterType="int">
		{CALL
			BEGIN
				DELETE FROM campaign_file
				WHERE camp_no = ${campNo};
				
				DELETE FROM campaign
				WHERE camp_no = ${campNo};
			END
		}
	</delete>


<select id="selectAdmin" parameterType="string" resultType="web.dto.Admin">
	SELECT * FROM admin
	WHERE admin_id = #{adminId}
</select>


<!-- <select id="selectProdList" resultType="web.dto.Product" parameterType="web.util.Paging"> -->
<!-- 		SELECT * FROM ( -->
<!-- 	    	SELECT rownum rnum, P.* FROM ( -->
<!-- 	        	SELECT * FROM product ORDER BY prod_no DESC -->
<!-- 	    	) P -->
<!-- 		) Goods -->
<!-- 		WHERE rnum BETWEEN #{startNo} AND #{endNo} -->
<!-- 	</select> -->

 	<select id="selectProductList" resultType="map" parameterType="web.util.Paging">

        SELECT * FROM (
		    SELECT rownum rnum, A.* FROM (
		        SELECT c.*, f.prod_origin_name, f.prod_stored_name
		        FROM product c LEFT OUTER JOIN  prod_file f
		        ON c.prod_no = f.prod_no
		        ORDER BY c.prod_no DESC
		    ) A
		)
		WHERE rnum BETWEEN #{startNo} AND #{endNo}

	</select>


	<!-- 관리자 굿즈샵 상품 등록 글쓰기  -->
	<insert id="insertProduct" parameterType="web.dto.Product">

	<selectKey keyProperty="prodNo" order="BEFORE" resultType="int">
		select PROD_NO_seq.nextval from dual
	</selectKey>

  		INSERT INTO product (prod_no, admin_no, prod_name, prod_detail, prod_price, prod_amount)
   			VALUES ( #{prodNo}, #{adminNo}, #{prodName}, #{prodDetail}, #{prodPrice}, #{prodAmount} )

   </insert>
   
   
   <insert id="insertProductFile" parameterType="web.dto.ProductFile">
      INSERT INTO prod_file (prod_file_no, prod_no, prod_origin_name, prod_stored_name) 
      	VALUES ( prod_file_no_seq.nextval, #{prodNo}, #{prodOriginName}, #{prodStroedName})
   </insert>
   
   	<delete id="deleteGoods" parameterType="int">
		{CALL
			BEGIN
				DELETE FROM prod_file
				WHERE prod_no = ${prodNo};
				
				DELETE FROM product
				WHERE prod_no = ${prodNo};
			END
		}
	</delete>

	
	<update id="updateBoard" parameterType="web.dto.Free">
  	UPDATE free SET
	free_title = #{freeTitle}, free_content = #{freeContent}, free_head = #{freeHead}, free_modify = CURRENT_DATE 
	WHERE free_no = #{freeNo}
	</update>
</mapper>