<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="web.dao.face.CampDao">

	<select id="selectCntAll" resultType="int">
		SELECT count(*) FROM campaign
	</select>
	
<!-- 	<select id="selectCampList" resultType="web.dto.Campaign" parameterType="web.util.Paging"> -->
	<select id="selectCampList" resultType="map" parameterType="web.util.Paging">
<!-- 		SELECT * FROM ( -->
<!-- 	    	SELECT rownum rnum, C.* FROM ( -->
<!-- 	        	SELECT * FROM campaign ORDER BY camp_no DESC -->
<!-- 	    	) C -->
<!-- 		) CAMP -->
<!-- 		WHERE rnum BETWEEN #{startNo} AND #{endNo} -->
		SELECT * FROM (
		    SELECT rownum rnum, A.* FROM	 (
		        SELECT c.*, f.camp_origin_name, f.camp_stored_name
		        FROM campaign c LEFT OUTER JOIN  campaign_file f
		        ON c.camp_no = f.camp_no
		        ORDER BY c.camp_no DESC
		    ) A
		)
		WHERE rnum BETWEEN #{startNo} AND #{endNo}
	</select>
	
	<select id="selectCamp" resultType="map" parameterType="int">
		SELECT c.*, f.*
		FROM campaign c 
		LEFT OUTER JOIN campaign_file f
		ON c.camp_no = f.camp_no
		WHERE c.camp_no = #{campNo}
	</select>
	
	<select id="selectCntAllByState" resultType="int" parameterType="string">
		SELECT count(*) FROM campaign
		WHERE camp_state = #{state}
	</select>
	
<!-- 	<select id="selectCampListByState" resultType=""> -->
<!-- 		SELECT * FROM campaign -->
<!-- 		WHERE camp_state = #{state} -->
<!-- 	</select> -->
	
	<select id="selectCampListByState" resultType="map" parameterType="map">
<!-- 		SELECT * FROM ( -->
<!-- 	    	SELECT rownum rnum, C.* FROM ( -->
<!-- 	        	SELECT * FROM campaign  -->
<!-- 	        		WHERE camp_state = #{state}  -->
<!-- 	        		ORDER BY camp_no DESC -->
<!-- 	    	) C -->
<!-- 		) CAMP -->
<!-- 		WHERE rnum BETWEEN #{paging.startNo} AND #{paging.endNo} -->
		SELECT * FROM (
		    SELECT rownum rnum, A.* FROM (
		        SELECT c.*, f.camp_origin_name, f.camp_stored_name
		        FROM campaign c LEFT OUTER JOIN campaign_file f
		        ON c.camp_no = f.camp_no
		            WHERE camp_state = #{state}
		        ORDER BY c.camp_no DESC
		    ) A
		)
		WHERE rnum BETWEEN #{paging.startNo} AND #{paging.endNo}
	</select>
	
	<select id="selectPartNo" resultType="int">
		SELECT certification_seq.nextval FROM dual
	</select>
	
	<insert id="insertCert" parameterType="map">
		INSERT INTO certification (part_no, user_no, camp_no, part_title, part_content, part_date)
		VALUES (#{partNo}, #{userNo}, #{campNo}, #{partTitle}, #{partContent}, #{partDate})
	</insert>
	
	<insert id="insertFile" parameterType="web.dto.CertificationFile">
		INSERT INTO certification_file (part_file_no, part_no, camp_no, part_origin_name, part_stored_name)
		VALUES (certification_file_no_seq.nextval, #{partNo}, #{campNo}, #{partOriginName}, #{partStoredName})
	</insert>
	
	<select id="selectCalList" resultType="web.dto.Calendar">
		SELECT * FROM calendar
	</select>
	
	<select id="selectIngList" resultType="web.dto.Campaign" parameterType="int">
<!-- 		SELECT * FROM campaign -->
<!-- 		WHERE camp_no NOT IN (SELECT camp_no FROM certification WHERE user_no = #{userNo}) -->
<!-- 		    AND camp_state = '진행중' -->
<!-- 		ORDER BY camp_no DESC -->
		SELECT * FROM campign
		ORDER BY camp_no DESC
	</select>
	
	<select id="selectCertByUserNo" resultType="web.dto.Certification" parameterType="int">
		SELECT * FROM certification
		WHERE user_no = #{userNo}
	</select>
	
<!-- 	<select id="selectCertByDate" resultType="web.dto.Certification" parameterType="map"> -->
<!-- 		SELECT * FROM ( -->
<!-- 		    SELECT to_char(part_date, 'YYYY-MM-DD') dateStr, c.*  -->
<!-- 		    FROM ( -->
<!-- 		        SELECT * FROM certification WHERE user_no = #{userNo} -->
<!-- 		    ) c -->
<!-- 		) -->
<!-- 		WHERE datestr = #{calDate} -->
<!-- 	</select> -->
	
	<select id="selectCertByDate" resultType="map" parameterType="map">
		SELECT cal.camp_title, dstr.*, cfile.part_file_no, cfile.part_origin_name, cfile.part_stored_name
		FROM (SELECT * FROM (
		        SELECT to_char(part_date, 'YYYY-MM-DD') dateStr, c.* 
		        FROM (
		            SELECT * FROM certification WHERE user_no = #{userNo}
		        ) c
		    )
		    WHERE datestr = #{calDate}) dstr, campaign cal, certification_file cfile
		WHERE cal.camp_no = dstr.camp_no
		    AND cfile.part_no = dstr.part_no
	</select>
	
	<delete id="deleteCert" parameterType="map">
		{CALL
			BEGIN
				DELETE FROM certification_file
				WHERE part_file_no = #{partFileNo};
				
				DELETE FROM certification
				WHERE part_no = #{partNo};
			END
		}
	</delete>
	
	<select id="selectCert" resultType="map" parameterType="map">
		SELECT cam.camp_title, cfile.part_file_no, cfile.part_origin_name, cfile.part_stored_name, cer.*
		FROM (
		    SELECT * FROM certification
		    WHERE user_no = #{userNo} AND part_no = #{partNo}) cer, campaign cam, certification_file cfile
		WHERE cam.camp_no = cer.camp_no
		    AND cfile.part_no = cer.part_no		
	</select>
	
	
	<!-- 캠페인 참여 현황  -->
	<select id="campParticipate" parameterType="int" resultType="int">
   		SELECT COUNT(*) FROM  CERTIFICATION
    	WHERE camp_no = #{campNo}
	</select>
	
</mapper>
