<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="web.dao.face.FreeDao">

<select id="selectNickById" parameterType="string" resultType="string">
	SELECT nick FROM member 
	WHERE id=#{id}
</select>

<insert id="insertFree" parameterType="web.dto.Free">
	<selectKey keyProperty="freeNo" order="BEFORE" resultType="int">
		select free_no_seq.nextval from dual
	</selectKey>
	INSERT INTO free (free_no, user_no, admin_no, free_head, free_title, free_content, free_views)
	VALUES ( #{freeNo}, #{userNo}, #{adminNo}, #{freeHead}, #{freeTitle}, #{freeContent}, #{freeViews} )
</insert>

<insert id="insertFreeFile" parameterType="web.dto.Free">
	<selectKey keyProperty="freeFileNo" order="BEFORE" resultType="int">
		select free_file_no_seq.nextval from dual
	</selectKey>
	INSERT INTO free_file (free_file_no, free_no, free_origin_name, free_stored_name) 
	VALUES ( #{freeFileNo}, #{freeNo}, #{freeOriginName}, #{freeStoredName})
</insert>

<select id="selectCntAll" resultType="int">
	SELECT count(*) FROM free
</select>

<select id="selectList" resultType="web.dto.Free" parameterType="web.util.Paging">
	SELECT * FROM(
		SELECT rownum rnum, F.* FROM (
			SELECT
			free_no, free_title, free_head, free_content, free_views, free_create
			FROM free
			ORDER BY free_no DESC
		)F
	)FREE
	WHERE rnum BETWEEN #{startNo} AND #{endNo}
</select>

<select id="selectFreeBoard" parameterType="web.dto.Free" resultType="web.dto.Free">
	SELECT * FROM free
	WHERE free_no = #{freeNo}
</select>

<update id="updateHit" parameterType="web.dto.Free">
	UPDATE free set
	free_views = free_views + 1
	WHERE free_no = #{freeNo}
</update>

</mapper>
