<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="web.dao.face.FreeDao">

<select id="selectNickById" parameterType="string" resultType="string">
	SELECT nick FROM member 
	WHERE id=#{id}
</select>

<insert id="insertFree" parameterType="web.dto.Free">
	<selectKey keyProperty="freeNo" order="BEFORE" resultType="int">
		select free_no_seq.nextval from dual
	</selectKey>
	INSERT INTO free (free_no, user_no, admin_no, free_head, free_title, free_content, free_views)
	VALUES ( #{freeNo}, #{userNo}, #{adminNo}, #{freeHead}, #{freeTitle}, #{freeContent}, #{freeViews} )
</insert>

<insert id="insertFreeFile" parameterType="web.dto.FreeFile">
	<selectKey keyProperty="freeFileNo" order="BEFORE" resultType="int">
		select free_file_no_seq.nextval from dual
	</selectKey>
	INSERT INTO free_file (free_file_no, free_no, free_origin_name, free_stored_name) 
	VALUES ( #{freeFileNo}, #{freeNo}, #{freeOriginName}, #{freeStoredName})
</insert>

<select id="selectCntAll" resultType="int">
	SELECT count(*) FROM free
</select>

<select id="selectList" resultType="map" parameterType="map">
	SELECT * FROM(
		SELECT rownum rnum, (SELECT m.id FROM member m WHERE m.userno = F.user_no) id, F.* FROM (
			SELECT
			*
			FROM free
	<choose>
		<when test="freeHead != null &amp;&amp; !freeHead.equals('') &amp;&amp; freeHead.equals('사담')">
			WHERE free_head = #{freeHead}
			ORDER BY free_no DESC
		</when>
		
		<when test="freeHead != null &amp;&amp; !freeHead.equals('') &amp;&amp; freeHead.equals('정보')">
			WHERE free_head = #{freeHead}
			ORDER BY free_no DESC
		</when>
		
		<when test="freeHead != null &amp;&amp; !freeHead.equals('') &amp;&amp; freeHead.equals('질문')">
			WHERE free_head = #{freeHead}
			ORDER BY free_no DESC
		</when>
		
		<when test="freeHead != null &amp;&amp; !freeHead.equals('') &amp;&amp; freeHead.equals('전체')">
			ORDER BY free_no DESC
		</when>

		<when test="freeHead == null">
			ORDER BY free_no DESC
		</when>
		
	</choose>	
		) F
	) FREEMAIN
	WHERE rnum BETWEEN #{paging.startNo} and #{paging.endNo}
	ORDER BY free_no DESC
	
	
</select>

<select id="selectFreeBoard" parameterType="web.dto.Free" resultType="map">
	SELECT * FROM(
		SELECT 
		(SELECT m.id FROM member m WHERE m.userno = F.user_no) id,
		(SELECT m.id FROM member m WHERE m.userno = F.user_no) nick, F.* FROM (
			SELECT
			*
			FROM free
		) F
	) FREEMAIN
	WHERE free_no = #{freeBoard.freeNo}
</select>

<update id="updateHit" parameterType="web.dto.Free">
	UPDATE free set
	free_views = free_views + 1
	WHERE free_no = #{freeNo}
</update>

<delete id="delete" parameterType="web.dto.Free">
	DELETE free
	WHERE free_no = #{freeNo}
</delete>

<delete id="deleteFile" parameterType="web.dto.Free">
	DELETE free_file
	WHERE free_no = #{freeNo}
</delete>

<select id="selectFreeFile" parameterType="web.dto.Free" resultType="web.dto.FreeFile">
	SELECT * FROM free_file
	WHERE free_no = #{freeNo}
</select>

<update id="updateBoard" parameterType="web.dto.Free">
	UPDATE free SET
	free_title = #{freeTitle}, free_content = #{freeContent}, free_head = #{freeHead}
	WHERE free_no = #{freeNo}
</update>

<select id="selectFreeByKeyword" resultType="map" parameterType="map">

	SELECT * FROM(
		SELECT rownum rnum, (SELECT m.id FROM member m WHERE m.userno = F.user_no) id, F.* FROM (
			SELECT
			*
			FROM free
	<choose>
		
		<when test="freeHead != null &amp;&amp; !freeHead.equals('') &amp;&amp; freeHead.equals('전체')
					&amp;&amp; keyword != null">
			WHERE free_title LIKE ''%' || #{keyword} || '%'
			ORDER BY free_no DESC
		</when>

		<when test="freeHead == null &amp;&amp; keyword != null">
			WHERE free_title LIKE ''%' || #{keyword} || '%'
			ORDER BY free_no DESC
		</when>
		
	</choose>	
		) F
	) FREEMAIN
	WHERE rnum BETWEEN #{paging.startNo} and #{paging.endNo}
	ORDER BY free_no DESC

</select>

<!-- <select id="mypageList" resultType="web.dto.Free" parameterType="int"> -->
<!-- select * from Free -->
<!-- where user_no = #{userNo} -->
<!-- </select> -->

<select id="mypageList" resultType="web.dto.Free" parameterType="int">
select * from Free
where user_no = #{userNo}
ORDER BY free_no DESC

</select>

</mapper>
