<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="web.dao.face.GoodsDao">

	<select id="selectCntAll" resultType="int">
	SELECT count(*) FROM product
	</select>
	
	<select id="selectProdList" resultType="web.dto.Product" parameterType="web.util.Paging">
		SELECT * FROM (
	    	SELECT rownum rnum, P.* FROM (
	        	SELECT * FROM product ORDER BY prod_no DESC
	    	) P
		) Goods
		WHERE rnum BETWEEN #{startNo} AND #{endNo}
	</select>
	
	<select id="selectProd" resultType="map" parameterType="int">
			SELECT p.*, f.*
		FROM product p 
		LEFT OUTER JOIN prod_file f
		ON p.prod_no = f.prod_no
		WHERE p.prod_no = #{prodNo}
	
	</select>
	
	<insert id="addCart" parameterType="web.dto.Cart">
	INSERT INTO cart(cart_no,user_no,prod_no,prod_count,prod_opt_no)
	values(cart_seq.nextval,#{userNo},#{prodNo},#{prodCount},#{prodOptNo})
	
	</insert>
	
	<update id="updateCart" parameterType="web.dto.Cart">
	UPDATE cart 
	SET  prod_count=#{prodCount} , prod_opt_no=#{prodOptNo}
	WHERE user_no=#{userNo} and prod_no=#{prodNo} and prod_opt_no=#{prodOptNo}
	
	
	</update>
	

	<select id="selectCartListByuserno" resultType="map" parameterType="int">
		select c.*, p.prod_name, p.prod_price, p.prod_detail, f.prod_origin_name, f.prod_stored_name, o.prod_color, o.prod_size from cart c
		join product p on c.prod_no = p.prod_no
		join prod_option o on o.prod_opt_no = c.prod_opt_no 
		join prod_file f on f.prod_no = c.prod_no
		where c.user_no = #{userNo}

	</select>
	
	<select id="existCart" parameterType="web.dto.Cart" resultType="int" >
	SELECT count(*) FROM cart
	where user_no=#{userNo} and prod_no=#{prodNo} and prod_opt_no=#{prodOptNo}
	
	</select>
	
	<select id="getOption" parameterType="int" resultType="map">
	SELECT * FROM  prod_option
	WHERE prod_no=#{prodNo}
	
	
	</select>
	
	<delete id="deleteCart" parameterType="map">
		DELETE FROM cart
		WHERE user_no = #{userNo} AND cart_no = #{cartNo}
	</delete>
	
	
	<select id="getProdinfo" parameterType="int" resultType="web.dto.Product">
	select * FROM product
	where prod_no=#{prodNo}
	</select>
	
	<select id="getProdopt" parameterType="int" resultType="web.dto.ProdOption">
	select * FROM prod_option
	where prod_opt_no=#{prodOptNo}
	</select>
</mapper>