<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="web.dao.face.InfoDao">
  
  <select id="selectCntAll" resultType="int">
  		select count(*) FROM Info
  </select>
  
  <select id="selectList" resultType="web.dto.Info" parameterType="web.util.Paging">
		SELECT * FROM (
	    	SELECT rownum rnum, I.* FROM (
	        	SELECT * FROM info ORDER BY info_no DESC
	    	) I
		) INFO
		WHERE rnum BETWEEN #{startNo} AND #{endNo}
  </select>
  
  <select id= "selctCntAllByState" resultType="int" parameterType="string">
  	SELECT count (*) FROM info
  	where info_state = # {state}
  </select>
  
  <select id="selectInfoListByState" resultType="map" parameterType="map">
  	SELECT * FROM (
  		SELECT rownum rnum A * FROM (
  			SELECT i.*,f.info_origin_name, f.info_stored_name
  			FROM campaign c LEFT OUTER JOIN campaging_file f
  			ON i.info_no = f.info_no
  				WHERE info_state = # {state}
  			ORDER BY i.info_no DESC
  		)A
  	)
  	WHERE rnum BETWEEN #{paging.startNo} AND #{paging.enoNo}
  </select>
  
  
  </mapper>