<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace= "web.dao.face.MainDao">

<!-- 퀴즈 -->
<select id="selectAllQuiz" resultType="web.dto.Quiz">
	select * from Quiz order by dbms_random.value
</select>

<!-- 캘린더 -->
<select id="selectCalList" resultType="web.dto.Calendar">
		SELECT * FROM calendar
</select>

<!-- 굿즈상품 -->
<select id="selectAllProduct" resultType="map">
	     SELECT * FROM (
          SELECT prod.* FROM (
              SELECT p.*, g.prod_origin_name, g.prod_stored_name
                FROM product p LEFT OUTER JOIN (
                
                 SELECT *
					FROM prod_file
					WHERE (prod_no, prod_file_no) IN (
					    SELECT prod_no, MIN(prod_file_no)
					    FROM prod_file
					    GROUP BY prod_no
					)
                
                ) g
                ON p.prod_no = g.prod_no
          ) prod
      )
</select>

<select id="selectAllCertFile" resultType="map">
	  SELECT * FROM (
          SELECT cert.* FROM (
              SELECT c.*, f.part_origin_name, f.part_stored_name
                FROM certification c LEFT OUTER JOIN certification_file f
                ON c.part_no = f.part_no
          ) cert
      )
      
      ORDER BY part_no DESC
</select>

</mapper>