<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="web.dao.face.MemberDao">
  
  <insert id="insert" parameterType="web.dto.Member">
        INSERT INTO member(userno,id,pw,name,nick,birth,email,post,addr1,addr2,phone)
  VALUES(userno_seq.nextval,#{id},#{pw},#{name},#{nick},#{birth},#{email},#{post},#{addr1},#{addr2},#{phone})
  </insert>
  
  <select id="selectCntByIdPw" resultType="int" parameterType="web.dto.Member">
        SELECT count(*) FROM member
     WHERE id = #{id} AND pw = #{pw}
  </select>
  
    <select id="selectById" resultType="web.dto.Member" parameterType="string">
        SELECT * FROM member
     WHERE id= #{id}
  </select>

   <update id="updateUser" parameterType="web.dto.Member" >
      UPDATE member
         SET id=#{id}, pw=#{pw}, name=#{name}, nick=#{nick}, birth=#{birth}, email=#{email}, post=#{post}, addr1=#{addr2}, phone=#{phone} 
      WHERE id = #{id} 
   </update>
   
   <delete id="delete" parameterType="String" >
      DELETE 
      FROM member
      WHERE id = #{id}
   </delete>
   
	<select id="checkid" parameterType="web.dto.Member" resultType="int">
	SELECT COUNT(*) FROM member
	WHERE name=#{name} and email=#{email}
	</select>
	
	<select id="selectIdByNameEmail" parameterType="web.dto.Member" resultType="web.dto.Member">
	SELECT id,name FROM member
	WHERE name=#{name} and email=#{email}
	</select>   
  
  
  
  </mapper>
	

	
	

  
  
  
