<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="web.dao.face.MypagDao">
  
 	<select id="selectComment" resultType="web.dto.FreeComment">
		select * from freecomment
		order by comm_no desc;
	</select>
	
		<delete id="deleteComment" parameterType="web.dto.FreeComment">
		DELETE freecomment
		WHERE
		comm_no = #{commNo}
	</delete>
	
	<select id="commentList" resultType="web.dto.FreeComment" parameterType="int">
		select * from freecomment
		where user_no = #{userNo}
		ORDER BY comm_no DESC
	</select>
	
	<select id="selectCntAll" resultType="int">
		SELECT count(*) FROM free
	</select>
	
	<select id="selectById" resultType="web.dto.Member" >
	     SELECT * FROM member
    	 WHERE user_id= #{userId}
	</select>
	
	<delete id="delete" parameterType="String">
		DELETE 
		FROM member
		WHERE user_id = #{userId}
	</delete>
	
	<select id="selectList" resultType="map"
		parameterType="web.util.Paging">

		SELECT * FROM (
		SELECT rownum rnum, l.* FROM (
		SELECT r.*,
		a.admin_NAME
		FROM (
		SELECT f.*, m.user_id
		FROM free f
		LEFT OUTER JOIN
		member m
		ON f.user_no = m.user_no
		) r
		LEFT OUTER JOIN admin a
		ON
		r.admin_no = a.admin_no
		ORDER BY free_no DESC
		) l
		)
		WHERE rnum BETWEEN
		#{startNo} AND #{endNo}
	</select>

	<select id="mypageList" resultType="web.dto.Free" parameterType="int">
		select * from Free
		where user_no = #{userNo}
		ORDER BY free_no DESC
	</select>
	
	 <update id="updateUser" parameterType="web.dto.Member" >
     	 UPDATE member
         SET user_id=#{userId}, user_pw=#{userPw}, user_name=#{userName}, user_nick=#{userNick},  user_postcode=#{userPostcode}, user_addr=#{userAddr}, user_phone=#{userPhone}, user_detailaddr=#{userDetailaddr} 
    	 WHERE user_id = #{userId} 
   </update>
   
<!--    	<select id="selectOrderList" parameterType="int" resultType="web.dto.Order"> -->
<!-- 		SELECT * FROM ordertb -->
<!-- 		WHERE user_no = #{userNo} -->
<!-- 	</select> -->


	<select id="selectOrderList" resultType="map" parameterType="web.util.Paging">
		SELECT * FROM ordertb
		WHERE user_no = #{userNo}	
	</select>

	<select id="selectOrderCntAll" resultType="int">
		SELECT count(*) FROM free
	</select>


  </mapper>
  
  
  
  